<ul class="list-group lef-sidebar">
  <li class="list-group-item"> <a routerLink="/home" routerLinkActive="active">Home-1</a></li>
  <li class="list-group-item"><a routerLink="/home">Home-2</a></li>
  <li class="list-group-item">Menu-3</li>
  <li class="list-group-item">Menu-4</li>
  <li class="list-group-item">Menu-5</li>
  <li class="list-group-item">Menu-6</li>
  <li class="list-group-item">Menu-7</li>
  <li class="list-group-item">Menu-8</li>
  <li class="list-group-item">Menu-9</li>
  <li class="list-group-item">Menu-10</li>
  <li class="list-group-item">Menu-11</li>
  <li class="list-group-item">Menu-12</li>
  <li class="list-group-item">Menu-13</li>
  <li class="list-group-item">Menu-14</li>
  <li class="list-group-item">Menu-15</li>
</ul>
