<ul class="list-group">
    <li class="list-group-item" routerLinkActive="active" routerLink="dashboard">
        <img src="/assets/icons/svg/cog.svg" alt="Dashboard"
            class="d-inline-block align-bottom float-left leftside-menu-img">
        <span>Dashboard</span>
    </li>
    <!-- <li class="list-group-item"
      routerLinkActive="active"
      routerLink="/profile">
      <img src="/assets/icons/svg/person.svg"
      alt="Profile"
      class="d-inline-block align-bottom float-left leftside-menu-img">
      <span>Profile</span>
  </li> -->
    <li class="list-group-item" routerLinkActive="active" routerLink="production">
        <img src="/assets/icons/svg/wrench.svg" alt="Production"
            class="d-inline-block align-bottom float-left leftside-menu-img">
        <span>Production</span>
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="sales">
        <img src="/assets/icons/svg/graph.svg" alt="Sales"
            class="d-inline-block align-bottom float-left leftside-menu-img">
        <span>Sales</span>
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="purchase">
        <img src="/assets/icons/svg/tags.svg" alt="Purchase"
            class="d-inline-block align-bottom float-left leftside-menu-img">
        <span>Purchase</span>
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="hr">
        <img src="/assets/icons/svg/people.svg" alt="HR"
            class="d-inline-block align-bottom float-left leftside-menu-img">
        <span>HR</span>
    </li>
    <li class="list-group-item" *ngIf="Router.url == '/sales/product'">
        <h6 class="dropdown-header">Product Line</h6>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="M" id="IDRDIOMountain" name="RDIOProductLine">
            <label class="custom-control-label" for="IDRDIOMountain">Mountain</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="R" id="IDRDIORoadLine" name="RDIOProductLine">
            <label class="custom-control-label" for="IDRDIORoadLine">Road Lines</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="T" id="IDRDIOTouring" name="RDIOProductLine">
            <label class="custom-control-label" for="IDRDIOTouring">Touring</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="S" id="IDRDIOStandard" name="RDIOProductLine">
            <label class="custom-control-label" for="IDRDIOStandard">Standard</label>
        </div>
    </li>
    <li class="list-group-item" *ngIf="Router.url == '/sales/product'">
        <h6 class="dropdown-header">Style</h6>
        <div class="custom-control custom-radio">
            <input type="radio" id="IDRDIOMens" value="M" name="RDIOStyle" class="custom-control-input">
            <label class="custom-control-label" for="IDRDIOMens">Mens</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="IDRDIOWomens" value="W" name="RDIOStyle" class="custom-control-input">
            <label class="custom-control-label" for="IDRDIOWomens">Womens</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="IDRDIOUniversal" value="U" name="RDIOStyle" class="custom-control-input">
            <label class="custom-control-label" for="IDRDIOUniversal">Universal</label>
        </div>
    </li>
    <li class="list-group-item" *ngIf="Router.url == '/sales/product'">
        <h6 class="dropdown-header">Class</h6>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="H" id="IDRDIOHigh" name="RDIOClass">
            <label class="custom-control-label" for="IDRDIOHigh">High</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" value="H" id="IDRDIOLow" name="RDIOClass">
          <label class="custom-control-label" for="IDRDIOLow">Low</label>
       </div>
       <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" value="H" id="IDRDIOMedium" name="RDIOClass">
        <label class="custom-control-label" for="IDRDIOMedium">Medium</label>
       </div>
    </li>
    <li class="list-group-item" *ngIf="Router.url == '/sales/product'">
        <h6 class="dropdown-header">Color</h6>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="H" id="IDRDIOWhite" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIOWhite">White</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="L" id="IDRDIOYellow" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIOYellow">Yellow</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="M" id="IDRDIOSilver" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIOSilver">Silver</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="M" id="IDRDIORed" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIORed">Red</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="M" id="IDRDIOMulti" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIOMulti">Multi</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="M" id="IDRDIOGrey" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIOGrey">Grey</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="M" id="IDRDIOBlue" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIOBlue">Blue</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="M" id="IDRDIOBlack" name="RDIOColor">
            <label class="custom-control-label" for="IDRDIOBlack">Black</label>
        </div>
    </li>
</ul>
<br/>
<br/>
<br/>
