<div class="row">
  <div class="col-lx-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="product">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="salesorders">Sales Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="offers">Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="store">Stores</a>
      </li>
    </ul>
  </div>
  <div class="col-lx-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <router-outlet></router-outlet>
  </div>
</div>
