<div class="row mt-2">
  <div class="col-lx-10 col-lg-10 col-md-10 col-sm-10 col-10">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Products</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="IDTxtSearch">
      <div class="input-group-append">
        <button class="btn btn-outline-info">
          <img src="/assets/icons/svg/magnifying-glass.svg" alt="Search" height="20px;">
          &nbsp;Search
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2" style="margin-left: 1px;">
  <div *ngFor="let item of ProductDetailsList">
    <div class="card card-hover" style="width: 18rem;margin: 2px;">
      <img src="{{BASE_URL}}Sales/GetImage/{{item.ProductID}}" class="card-img-top" alt="{{ item.ProductNumber}}">
      <div class="card-body">
        <h5 class="card-title">{{item.Name}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{item.ProductNumber}}</li>
          <li class="list-group-item">MRP: {{item.ListPrice | currency:"INR"}}</li>
        </ul>
        <br />
        <button class="btn btn-outline-info" (click)="BtnViewDetails(item.ProductID)">View Details</button>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
<ng-template #IDProductDetailsModelRef id="IDProductDetailsModel" let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{SingleProduct.Name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{BASE_URL}}Sales/GetImage/{{SingleProduct.ProductID}}" class="card-img" alt="{{SingleProduct.ProductNumber}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{SingleProduct.ProductNumber}}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">MRP: {{SingleProduct.ListPrice | currency:"INR"}}</li>
              <li class="list-group-item">Category: {{SingleProduct.Category}} | Sub Category: {{SingleProduct.SubCategory}}</li>
              <li class="list-group-item">Model: {{SingleProduct.Model}} | Product Line: {{SingleProduct.ProductLine}}</li>
              <li class="list-group-item">Style: {{SingleProduct.Style}} | Color: {{SingleProduct.Color}} | Class: {{SingleProduct.Class}}</li>
              <li class="list-group-item">Weight: {{SingleProduct.Weight}} {{SingleProduct.WeightUnitMeasureCode}} | Size: {{SingleProduct.Size}} {{SingleProduct.SizeUnitMeasureCode}}</li>
              <li class="list-group-item">{{SingleProduct.Description}}</li>
              <li class="list-group-item">Ratings:<ngb-rating [(rate)]="currentRate" [max]=5></ngb-rating></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close();BtnAdtoCart();">Add To Cart</button>
  </div>
</ng-template>
