<div class="row mt-2">
    <div class="col-lx-10 col-lg-10 col-md-10 col-sm-10 col-10">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Products</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <div class="input-group-append">
                <button class="btn btn-outline-info">
                    <img src="/assets/icons/svg/magnifying-glass.svg" alt="Search" height="20px;">
                    &nbsp;Search
                </button>
            </div>
        </div>
    </div>
</div>
