<br />
<div class="row">
  <div class="col-lx-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-header">
        <h3>{{ AssemblyName }}</h3>
      </div>
      <jqxGrid
        [width]="1050"
        [theme]="'office'"
        [source]="AssemblyLineGridDataAdapter"
        [columns]="AssemblyLineGridColumns"
        [pageable]="true"
        [filterable]="true"
        [autoheight]="true"
        [sortable]="true"
        [virtualmode]="true"
        [rendergridrows]="AssemblyLineGridRenderGridRows"
        [enabletooltips]="true">
      </jqxGrid>
    </div>
  </div>
</div>
<br /><br /><br /><br />
