<br />
<div class="row">
  <div class="col-lx-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card" style="height:25rem;width:30rem">
      <br />
      <div class="card-body">
        <h5 class="card-title">Territory Sales</h5>
        <a href="#" class="btn btn-info">View Detail Report</a>
      </div>
    </div>
  </div>
  <div class="col-lx-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card" style="height:25rem;width:30rem">
      <br />
      <ngx-charts-bar-vertical-2d [view]="[350, 225]" [scheme]="BarChartColorScheme" [results]="BarChartDataSet"
        [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]='false' [showXAxisLabel]="true"
        [showYAxisLabel]="true" xAxisLabel='Quater' yAxisLabel="Sales">
      </ngx-charts-bar-vertical-2d>
      <div class="card-body">
        <h5 class="card-title">Quaterly Products Sales</h5>
        <a href="#" class="btn btn-info">View Detail Report</a>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-lx-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card" style="height:25rem;width:30rem">
      <br />
      <ngx-charts-pie-grid [view]="[350, 225]" [results]="PiGridChartDataSet">
      </ngx-charts-pie-grid>
      <div class="card-body">
        <h5 class="card-title">Top Selling Products</h5>
        <a href="#" class="btn btn-info">View Detail Report</a>
      </div>
    </div>
  </div>
  <div class="col-lx-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card" style="height:25rem;width:30rem">
      <table class="table table-striped table-hover ">
        <thead class="thead-light">
          <tr>
            <th scope="col" colspan="3"><img src="/assets/icons/svg/chat.svg" alt="Quick Access"
                style="height: 2rem">&nbsp;Quick Access</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
