<div class="row">
  <div class="col-lx-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="productionline">Production Line</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="workorder">Work Order</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="inventory">Inventory</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="assemblyline">Assembly Line</a>
      </li>
    </ul>
  </div>
  <div class="col-lx-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <router-outlet></router-outlet>
  </div>
</div>
